

<div class="archive">

    {{#each images}}
        <div class="image">
            {{#each layers}}
                <div class="layer">
                    <img src="/images/{{this}}.png">
                </div>
            {{/each}}
        </div>
    {{/each}}

</div>

<div class="div5"><a id="archive" href="/new">Live Image</a>
</div>
