
html{
    height:100%;
}
body{
    height:100%;
}
a {
    color: black;
    text-decoration: none;
    	font-family: 'Times New Roman', Times, serif;
	-webkit-font-smoothing: antialiased;
	size: 10px;

}

a:hover 
{
     color: white;
   
     cursor:pointer;  
}


.div1{
    	font-family: 'helvetica', arial, serif;
	-webkit-font-smoothing: antialiased;

    color: rgb(181,181,204);
    top: 30px;
    right:0px;
    position:absolute;
    z-index:1000;
    width:100%;
    height:20px;
}





.button-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
   position: fixed;
}

.button-container > a {
    width: 20%;
    height:8%;
    float: left;
    margin-top:100px;
    text-align: center;
   overflow: hidden;

}

.div3{
    display: none;

 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -webkit-transform: translate(-50%, -50%); /* Safari and Chrome */
 -moz-transform: translate(-50%, -50%); /* Firefox */
 -ms-transform: translate(-50%, -50%); /* IE 9 */
 -o-transform: translate(-50%, -50%); 

}
.div4{
    width: 50px;
    height:50px;
    position: fixed;
    margin-top:200px;
    margin-left:700px;
    text-align: center;
   background:yellow;

}

.div5{
 
    left: 48.25%;
    text-align:center;
    position: fixed; 
    bottom:20px; 
	font-family: 'Times New Roman', Times, serif;
	-webkit-font-smoothing: antialiased;

    font-size: 1.75em; 

    
} 

/* Styles for archive page */

.archive .image {
    position: relative;
    width: 200px;
    height: 150px;
    display: inline-block;
}

.archive .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.archive .layer img {
    width: 100%;
    height: 100%;
}
